In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
import sklearn.metrics as metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

# Lectura de datos

In [2]:
# Defino la lista de nombres de las variables
nombres_columnas = ['npedido', 'fechaped', 'nombre', 'dir',
                   'estado', 'idprod', 'desprod',
                    'nunidades', 'total', 'cargo',
                    'modopago', 'situapedido']
# Leo el dataset, el cual tiene un separador especial... lo normal es encontrarse ficheros
# separados por ',' o por ';'
XY = pd.read_csv('orders.csv', sep=',', names=nombres_columnas, index_col=None)

In [3]:
XY

,npedido,fechaped,nombre,dir,estado,idprod,desprod,nunidades,total,cargo,modopago,situapedido
0,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
1,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
2,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
4,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...,...
167,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
168,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
169,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
170,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
171,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [4]:
XY = XY.drop(XY.index[[0]])

In [5]:
XY

,npedido,fechaped,nombre,dir,estado,idprod,desprod,nunidades,total,cargo,modopago,situapedido
1,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
2,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
4,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
5,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...,...
167,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
168,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
169,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
170,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
171,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [6]:
XY = XY.drop(XY.columns[0],axis='columns')

In [7]:
XY

,fechaped,nombre,dir,estado,idprod,desprod,nunidades,total,cargo,modopago,situapedido
1,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
2,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
4,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
5,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...
167,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
168,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
169,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
170,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
171,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [8]:
XY.isnull().sum()

fechaped         0
nombre           0
dir              0
estado           0
idprod           0
desprod          0
nunidades        0
total           18
cargo           26
modopago       124
situapedido      0
dtype: int64

In [9]:
XY['total']=XY['total'].fillna(0)

In [10]:
XY['cargo']=XY['cargo'].fillna(0)

In [11]:
XY

,fechaped,nombre,dir,estado,idprod,desprod,nunidades,total,cargo,modopago,situapedido
1,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,0,NaN,Delivered to buyer
2,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
4,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,0,0,Cash On Delivery,Delivered to buyer
5,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...
167,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
168,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
169,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
170,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
171,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [12]:
XY = XY.drop(['modopago'], axis=1)

In [13]:
XY

,fechaped,nombre,dir,estado,idprod,desprod,nunidades,total,cargo,situapedido
1,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,0,Delivered to buyer
2,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,Delivered to buyer
3,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,Delivered to buyer
4,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,0,0,Delivered to buyer
5,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...
167,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Delivered to buyer
168,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,Delivered to buyer
169,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,Delivered to buyer
170,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Delivered to buyer
171,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,Delivered to buyer

In [14]:
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    object
 1   nombre       171 non-null    object
 2   dir          171 non-null    object
 3   estado       171 non-null    object
 4   idprod       171 non-null    object
 5   desprod      171 non-null    object
 6   nunidades    171 non-null    object
 7   total        171 non-null    object
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: object(10)
memory usage: 14.7+ KB

In [15]:
XY['fechaped'] = pd.Categorical(XY['fechaped'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    object
 2   dir          171 non-null    object
 3   estado       171 non-null    object
 4   idprod       171 non-null    object
 5   desprod      171 non-null    object
 6   nunidades    171 non-null    object
 7   total        171 non-null    object
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: category(1), object(9)
memory usage: 19.1+ KB

In [16]:
XY['nombre'] = pd.Categorical(XY['nombre'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    object
 3   estado       171 non-null    object
 4   idprod       171 non-null    object
 5   desprod      171 non-null    object
 6   nunidades    171 non-null    object
 7   total        171 non-null    object
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: category(2), object(8)
memory usage: 23.3+ KB

In [17]:
XY['dir'] = pd.Categorical(XY['dir'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    category
 3   estado       171 non-null    object
 4   idprod       171 non-null    object
 5   desprod      171 non-null    object
 6   nunidades    171 non-null    object
 7   total        171 non-null    object
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: category(3), object(7)
memory usage: 24.9+ KB

In [18]:
XY['estado'] = pd.Categorical(XY['estado'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    category
 3   estado       171 non-null    category
 4   idprod       171 non-null    object
 5   desprod      171 non-null    object
 6   nunidades    171 non-null    object
 7   total        171 non-null    object
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: category(4), object(6)
memory usage: 25.0+ KB

In [19]:
XY['idprod'] = pd.Categorical(XY['idprod'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    category
 3   estado       171 non-null    category
 4   idprod       171 non-null    category
 5   desprod      171 non-null    object
 6   nunidades    171 non-null    object
 7   total        171 non-null    object
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: category(5), object(5)
memory usage: 26.3+ KB

In [20]:
XY['desprod'] = pd.Categorical(XY['desprod'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    category
 3   estado       171 non-null    category
 4   idprod       171 non-null    category
 5   desprod      171 non-null    category
 6   nunidades    171 non-null    object
 7   total        171 non-null    object
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: category(6), object(4)
memory usage: 27.6+ KB

In [21]:
XY['nunidades'] = pd.Categorical(XY['nunidades'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    category
 3   estado       171 non-null    category
 4   idprod       171 non-null    category
 5   desprod      171 non-null    category
 6   nunidades    171 non-null    category
 7   total        171 non-null    object
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: category(7), object(3)
memory usage: 26.7+ KB

In [22]:
XY['total'] = pd.Categorical(XY['total'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    category
 3   estado       171 non-null    category
 4   idprod       171 non-null    category
 5   desprod      171 non-null    category
 6   nunidades    171 non-null    category
 7   total        171 non-null    category
 8   cargo        171 non-null    object
 9   situapedido  171 non-null    object
dtypes: category(8), object(2)
memory usage: 26.2+ KB

In [23]:
XY['cargo'] = pd.Categorical(XY['cargo'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    category
 3   estado       171 non-null    category
 4   idprod       171 non-null    category
 5   desprod      171 non-null    category
 6   nunidades    171 non-null    category
 7   total        171 non-null    category
 8   cargo        171 non-null    category
 9   situapedido  171 non-null    object
dtypes: category(9), object(1)
memory usage: 25.7+ KB

In [24]:
XY['situapedido'] = pd.Categorical(XY['situapedido'])
XY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 171
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fechaped     171 non-null    category
 1   nombre       171 non-null    category
 2   dir          171 non-null    category
 3   estado       171 non-null    category
 4   idprod       171 non-null    category
 5   desprod      171 non-null    category
 6   nunidades    171 non-null    category
 7   total        171 non-null    category
 8   cargo        171 non-null    category
 9   situapedido  171 non-null    category
dtypes: category(10)
memory usage: 24.6 KB

In [25]:
XY['fechaped'] = XY['fechaped'].cat.codes

In [26]:
XY['nombre'] = XY['nombre'].cat.codes

In [27]:
XY['dir'] = XY['dir'].cat.codes

In [28]:
XY['estado'] = XY['estado'].cat.codes

In [29]:
XY['idprod'] = XY['idprod'].cat.codes

In [30]:
XY['desprod'] = XY['desprod'].cat.codes

In [31]:
XY['nunidades'] = XY['nunidades'].cat.codes

In [32]:
XY['total'] = XY['total'].cat.codes

In [33]:
XY['cargo'] = XY['cargo'].cat.codes

In [34]:
XY['situapedido'] = XY['situapedido'].cat.codes

In [35]:
XY

,fechaped,nombre,dir,estado,idprod,desprod,nunidades,total,cargo,situapedido
1,69,58,14,5,2,1,0,12,0,0
2,128,54,57,1,22,59,0,12,9,0
3,80,148,57,1,22,59,0,12,9,0
4,162,120,19,25,17,30,0,0,0,0
5,136,107,49,17,29,37,0,1,13,0
...,...,...,...,...,...,...,...,...,...,...
167,25,93,49,17,22,59,2,3,13,0
168,141,98,18,28,42,52,0,2,2,0
169,122,139,20,7,42,52,0,2,1,0
170,158,39,40,29,30,50,0,4,11,0
171,79,116,49,17,2,1,0,12,13,0

In [36]:
X = XY.drop('situapedido', axis=1)
Y = XY['situapedido']

# Estandarizacion de los datos

In [37]:
obj_escalar = StandardScaler()
X_estan = obj_escalar.fit_transform(X)

# División en train y test

In [38]:
X_train, X_test, Y_train, Y_test = train_test_split(X_estan, Y, test_size=0.2, random_state=0)

# Modelo Regresion Logística

In [39]:
modelo = LogisticRegression()
parametros = {"C": [0., 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08,0.09], 
              "class_weight":['balanced', None]}

In [40]:
modelo_gs = GridSearchCV(modelo, param_grid=parametros,
                         cv = 3, scoring='roc_auc')
modelo_gs.fit(X_train, Y_train)

/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1406, in fit
    fold_coefs_ = Parallel(n_jobs=self.n_jobs, verbose=self.verbose,
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 1041, in __call__
    if self.dispatch_one_batch(iterator):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 859, in dispatch_one_batch
    self._dispatch(tasks)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 777, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/utils/fixes.py", line 222, in __call__
    return self.function(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 760, in _logistic_regression_path
    args=(X, target, 1. / C, sample_weight),
ZeroDivisionError: float division by zero

  warnings.warn("Estimator fit failed. The score on this train-test"
/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1406, in fit
    fold_coefs_ = Parallel(n_jobs=self.n_jobs, verbose=self.verbose,
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 1041, in __call__
    if self.dispatch_one_batch(iterator):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 859, in dispatch_one_batch
    self._dispatch(tasks)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 777, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/utils/fixes.py", line 222, in __call__
    return self.function(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 760, in _logistic_regression_path
    args=(X, target, 1. / C, sample_weight),
ZeroDivisionError: float division by zero

  warnings.warn("Estimator fit failed. The score on this train-test"
/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1406, in fit
    fold_coefs_ = Parallel(n_jobs=self.n_jobs, verbose=self.verbose,
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 1041, in __call__
    if self.dispatch_one_batch(iterator):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 859, in dispatch_one_batch
    self._dispatch(tasks)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 777, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/utils/fixes.py", line 222, in __call__
    return self.function(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 760, in _logistic_regression_path
    args=(X, target, 1. / C, sample_weight),
ZeroDivisionError: float division by zero

  warnings.warn("Estimator fit failed. The score on this train-test"
/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1406, in fit
    fold_coefs_ = Parallel(n_jobs=self.n_jobs, verbose=self.verbose,
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 1041, in __call__
    if self.dispatch_one_batch(iterator):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 859, in dispatch_one_batch
    self._dispatch(tasks)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 777, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/utils/fixes.py", line 222, in __call__
    return self.function(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 760, in _logistic_regression_path
    args=(X, target, 1. / C, sample_weight),
ZeroDivisionError: float division by zero

  warnings.warn("Estimator fit failed. The score on this train-test"
/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1406, in fit
    fold_coefs_ = Parallel(n_jobs=self.n_jobs, verbose=self.verbose,
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 1041, in __call__
    if self.dispatch_one_batch(iterator):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 859, in dispatch_one_batch
    self._dispatch(tasks)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 777, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/utils/fixes.py", line 222, in __call__
    return self.function(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 760, in _logistic_regression_path
    args=(X, target, 1. / C, sample_weight),
ZeroDivisionError: float division by zero

  warnings.warn("Estimator fit failed. The score on this train-test"
/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1406, in fit
    fold_coefs_ = Parallel(n_jobs=self.n_jobs, verbose=self.verbose,
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 1041, in __call__
    if self.dispatch_one_batch(iterator):
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 859, in dispatch_one_batch
    self._dispatch(tasks)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 777, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/joblib/parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/utils/fixes.py", line 222, in __call__
    return self.function(*args, **kwargs)
  File "/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 760, in _logistic_regression_path
    args=(X, target, 1. / C, sample_weight),
ZeroDivisionError: float division by zero

  warnings.warn("Estimator fit failed. The score on this train-test"
/home/antonio/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:918: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.89421216 0.89156665 0.89884179 0.89156665
 0.90087431 0.89090528 0.89884179 0.88887276 0.89884179 0.89355078
 0.89884179 0.89355078 0.89884179 0.89355078 0.89884179 0.89355078
 0.89884179 0.89619628]
  warnings.warn(

GridSearchCV(cv=3, estimator=LogisticRegression(),
             param_grid={'C': [0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07,
                               0.08, 0.09],
                         'class_weight': ['balanced', None]},
             scoring='roc_auc')

In [41]:
reg_log =  LogisticRegression(C=modelo_gs.best_params_['C'],
                              class_weight=modelo_gs.best_params_['class_weight'])

In [42]:
reg_log.fit(X_train, Y_train)

LogisticRegression(C=0.03, class_weight='balanced')

In [43]:
y_test_pred_prob = reg_log.predict_proba(X_test)

# Umbralizo las predicciones

In [44]:
umbral = 0.6
y_umbralizadas = 1*(y_test_pred_prob[:, 1] > umbral)

In [45]:
print(u"Matriz de confusión\n", metrics.confusion_matrix(Y_test, y_umbralizadas))

Matriz de confusión
 [[32  3]
 [ 0  0]]

# Modelo Arboles de Decisión

In [46]:
# Obtengo el mejor parámetro de profundidad del árbol entre 3 y 7 usando 
# validación cruzada y gridsearch
regr = DecisionTreeRegressor()
params = {"max_depth": range(3, 7)}
regr_opt = GridSearchCV(regr, params, cv=3)
regr_opt.fit(X_train, Y_train)
print('El mejor estimador es: {}'.format(regr_opt.best_estimator_))

El mejor estimador es: DecisionTreeRegressor(max_depth=3)

In [47]:

y_test_pred = regr_opt.predict(X_test)

# Umbralizo las predicc#iones

In [48]:
umbral = 0.6
y_umbralizadas = 1*(y_test_pred[:] > umbral)

In [49]:
print(u"Matriz de confusión\n", metrics.confusion_matrix(Y_test, y_umbralizadas))

Matriz de confusión
 [[35]]

# Modelo de KNN vecinos

In [50]:
clf = KNeighborsRegressor()
params1 = {"n_neighbors": range(1, 20)}

In [51]:
moknn = GridSearchCV(clf, params1, cv=3)

In [52]:
moknn.fit(X_train, Y_train)

GridSearchCV(cv=3, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': range(1, 20)})

In [53]:
y_test_pred = moknn.predict(X_test)

# Umbralizo las predicciones

In [54]:
umbral = 0.6
y_umbralizadas = 1*(y_test_pred[:] > umbral)

In [55]:
print(u"Matriz de confusión\n", metrics.confusion_matrix(Y_test, y_umbralizadas))

Matriz de confusión
 [[35]]